<section id="contacts" class="contacts">
  <div class="contacts__wrapper">
    <div class="contacts__header">
      <h3 class="contacts__title">{{ contacts.form.title }}</h3>
      <p class="contacts__desc">{{ contacts.form.desc }}</p>
    </div>
    <div class="contacts__inner">
      <div class="contacts__secondary">
        <div class="contacts__details">
          <h4>Contacts</h4>
          <p>{{ contacts.address }}, {{ contacts.region }} {{ contacts.zip }}, {{ contacts.country }},</p>
          <p>{{ contacts.phone }}, <a href="{{ contacts.email }}" title="Contact us">{{ contacts.email }}</a></p>
          <ul class="contacts__socialLinks">
            {% for item in contacts.socialLinks %}
              <li>
                <a href="{{ item.url }}">
                  <img src="/images/social/{{ item.name }}.svg" alt="Link to {{ item.name }}">
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="contacts__post">
          <h4>{{ contacts.form.post.title }}</h4>
          <p>{{ contacts.form.post.tizer }}</p>
          <a class="btn btn--outline" href="{{ contacts.form.post.url }}">Read on Medium…</a>
        </div>
      </div>
      <div class="contacts__main">
        <form class="form contacts__form js-contact-form" action="contact.php" method="post">
          <div class="form__row">
            <div class="text-field">
              <label for="name">Name</label>
              <input id="name" class="js-alpha-only" type="text" name="name" required>
            </div>
          </div>
          <div class="form__row">
            <div class="text-field">
              <label for="contact">Email or phone</label>
              <input id="contact" type="text" name="contact" data-parsley-email-or-phone required>
            </div>
          </div>
          <div class="form__row">
            <div class="text-field">
              <label for="message">Message</label>
              <textarea id="message" type="text" name="message" rows="4"></textarea>
            </div>
          </div>
          <div class="form__actions">
            <button class="btn btn--primary" type="submit">Get in touch</button>
            <p>By clicking on the button you agree to the <a href="/privacy">processing of your personal data</a>.</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>